{% extends 'base.html' %}

{% load static %}

{% block add_files %}
<link rel = "stylesheet" href= "{% static 'css/complaints.css' %}">
{% endblock %}

{% block content %}
	<nav class = "navbar navbar-dark navbar-expand-sm">
        <div class = "container">
            <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#Navbar">
                <span class = "navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" href="/home">EMS</a>
            <div class = "collapse navbar-collapse" id = "Navbar">
                <ul class = "navbar-nav ml-auto">
                    <li class="nav-item">
                    	<a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link" href="/permissible_emissions">MPE</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Audit
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" style = "background-color: #31b760;">
                          <li class = "nav-item" ><a class = "nav-link" href="/audit_emissions">Audit Emissions</a></li>
                          <li class = "nav-item"><a class = "nav-link" href="/audit_surveys">Audit Surveys</a></li>
                          <li class = "nav-item" ><a class = "nav-link" href="/audit_complaints">Audit Complaints</a></li>
                        </ul>
                    </li>
		      		<li class="nav-item dropdown">
		        		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">My Profile
					        <span class="caret"></span></a>
				        <ul class="dropdown-menu" style = "background-color: #31b760;">
				          <li class = "nav-item" ><a class = "nav-link" href="/profile">My Profile</a></li>
				          <li class = "nav-item"><a class = "nav-link" href="{% url 'logout' %}">Logout</a></li>
				        </ul>
		      		</li>
                </ul>
            </div>
        </div>
	</nav>
{% endblock %} 

{% block content_2 %} 
    <div class ="container" style="min-height:79vh;"> 
        <div class = "row row-content">
            <div class="col-12 col-sm-10">
                <h2>Surveys</h2>
            </div>
            <div class = "col-12 col-sm-2">
                <a class="btn btn-primary" href="/new_survey" role="button">Create new survey &nbsp;<span class = "fa fa-plus"></span></a> 
            </div>
            <div class = "col-12 col-sm-10">
                <div class = "table-responsive">
                    <table class = "table table-striped">
                        <thead class = "thead-dark">
                            <tr>
                                <th>Survey ID</th>
                                <th>Date</th>
                                <th>Target Population</th>
                                <th>Number of issues</th>
                                <th>Relevant issues</th>
                                <th>Resolved issues</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for survey in surveys %} 
                            <tr>
                                <th>
                                    <a role="button" class="btn btn-primary btn-block" href = "{% url 'survey_response' survey_id=survey.id response_id=0 %}">{{survey.id}}</a>
                                </th>
                                <td>{{survey.date}}</td>
                                <td>{{survey.population}}</td>
                                <td>{{survey.num_issues}}</td>
                                <td>{{survey.relevant_issues}}</td>
                                <td>{{survey.resolved_issues}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
