{% extends 'base.html' %}

{% load static %}

{% block add_files %}
<link rel = "stylesheet" href= "{% static 'css/complaints.css' %}">
{% endblock %}
 
{% block content %}
	<nav class = "navbar navbar-dark navbar-expand-sm">
        <div class = "container">
            <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#Navbar">
                <span class = "navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" href="/home">EMS</a>
            <div class = "collapse navbar-collapse" id = "Navbar">
                <ul class = "navbar-nav ml-auto">
                    <li class="nav-item">
                    	<a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link" href="/permissible_emissions">MPE</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Audit
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" style = "background-color: #31b760;">
                          <li class = "nav-item" ><a class = "nav-link" href="/audit_emissions">Audit Emissions</a></li>
                          <li class = "nav-item"><a class = "nav-link" href="/audit_surveys">Audit Surveys</a></li>
                          <li class = "nav-item" ><a class = "nav-link" href="/audit_complaints">Audit Complaints</a></li>
                        </ul>
                    </li>
		      		<li class="nav-item dropdown">
		        		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">My Profile
					        <span class="caret"></span></a>
				        <ul class="dropdown-menu" style = "background-color: #31b760;">
				          <li class = "nav-item" ><a class = "nav-link" href="/profile">My Profile</a></li>
				          <li class = "nav-item"><a class = "nav-link" href="{% url 'logout' %}">Logout</a></li>
				        </ul>
		      		</li>
                </ul> 
            </div>
        </div>
	</nav>
{% endblock %}

{% block content_2 %}
    <div class ="container" style="min-height:79vh;">
        <div class = "row row-content">
            <div class = "col-12 col-sm-12">
                <h2>Session list</h2>
                <div class="accordion md-accordion accordion-blocks" id="accordionEx78" role="tablist"aria-multiselectable="true">
                    {% for session_id, val_list in session_sub.items %}
                        <div class = "card mb-2">
                            <div class = "card-header" role = "tab" id = "session{{session_id}}">
                                <a data-toggle="collapse" data-parent="#accordionEx78" href="#{{session_id}}" aria-expanded="true" aria-controls="session_id" style="text-decoration: none;">
                                <h5 class="mt-1 mb-0">
                                  <span> Session {{session_id}}: <small>{{val_list.0.4}}</small></span>
                                  <span id = "arrow{{session_id}}" class="fa fa-angle-down float-right"></span>
                                </h5>
                              </a>
                            </div>
                        </div>
                        <div class = "collapse" id = "{{session_id}}" role="tabpanel" aria-labelledby="session{{session_id}}"data-parent="#accordionEx78">
                            <div class = "card-body">
                                <div class="mb-4">
                                    <div class = "table-responsive">
                                        <table class = "table table-striped">
                                            <thead class = "thead-dark">
                                                <tr>
                                                    <th>Substance name</th>
                                                    <th>Permissible range (min/max)</th>
                                                    <th>Actual Value</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for val in val_list %}
                                                    {% if val.1 > val.3 or val.1 < val.2 %}
                                                        <tr style = "color: red;"><!-- add a modal for adding feedback and changing status-->
                                                            <th>{{val.0}}</th>
                                                            <td>{{val.2}} / {{val.3}}</td>
                                                            <td>{{val.1}}</td>    
                                                            <td>Out of range</td>
                                                        </tr>
                                                    {% else %}
                                                        <tr style = "color: green;"><!-- add a modal for adding feedback and changing status-->
                                                            <th>{{val.0}}</th>
                                                            <td>{{val.2}} / {{val.3}}</td>
                                                            <td>{{val.1}}</td>    
                                                            <td>Safe</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}                                        
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-12">
                                        <a role="button" class="btn btn-primary float-right" href = "{% url 'update_emissions' session_id %}">Update</a>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    {% endfor %} 
                </div>   
            </div>
        </div>
    </div>
{% endblock %}
