{% extends 'base.html' %}

{% load static %}

{% block add_files %}
<link rel = "stylesheet" href= "{% static 'css/complaints.css' %}">
{% endblock %}

{% block content %}
	<nav class = "navbar navbar-dark navbar-expand-sm">
        <div class = "container">
            <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#Navbar">
                <span class = "navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" href="/home">EMS</a>
            <div class = "collapse navbar-collapse" id = "Navbar">
                <ul class = "navbar-nav ml-auto">
                    <li class="nav-item">
                    	<a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link" href="/permissible_emissions">MPE</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Audit
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" style = "background-color: #31b760;">
                          <li class = "nav-item" ><a class = "nav-link" href="/audit_emissions">Audit Emissions</a></li>
                          <li class = "nav-item"><a class = "nav-link" href="/audit_surveys">Audit Surveys</a></li>
                          <li class = "nav-item" ><a class = "nav-link" href="/audit_complaints">Audit Complaints</a></li>
                        </ul>
                    </li>
		      		<li class="nav-item dropdown">
		        		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">My Profile
					        <span class="caret"></span></a>
				        <ul class="dropdown-menu" style = "background-color: #31b760;">
				          <li class = "nav-item" ><a class = "nav-link" href="/profile">My Profile</a></li>
				          <li class = "nav-item"><a class = "nav-link" href="{% url 'logout' %}">Logout</a></li>
				        </ul>
		      		</li>
                </ul>
            </div>
        </div>
	</nav>
{% endblock %} 

{% block content_2 %}
    <div class ="container" style="min-height:79vh">
        <div class = "row row-content">
            <h2>Complaints</h2>
            <div class = "col-12 col-sm-12">
                <ul style="list-style: none;">
                    <li><span class="fa fa-square" style="color:#bff5af;"></span><strong>&nbsp;Resolved complaints: {{res}}</strong></li>
                    <li><span class="fa fa-square" style="color:#fbbaa7;"></span><strong>&nbsp;Relevant complaints: {{rel}}</strong></li>
                    <li><span class="fa fa-square" style="color:#d5d3d3;"></span><strong>&nbsp;Irrelevant complaints: {{irr}}</strong></li>
                </ul>
            </div>
            <div class = "col-12 col-sm-12">
                <div class = "table-responsive">
                    <table class = "table">
                        <thead class = "thead-dark">
                            <tr>
                                <th>Complaint ID</th>
                                <th>Complaintant's Email ID</th>
                                <th>Complaint</th>
                                <th>Rules violated</th>
                                <th>Status</th>
                                <th>Last update</th>
                            </tr> 
                        </thead>
                        <tbody>
                        {% for complaint in complaints %}
                                {% if complaint.status == "Resolved" %}
                                    <tr style="background-color:#bff5af; color: #000000;">
                                {% elif complaint.status == "Relevant" %}
                                    <tr style = "background-color:#fbbaa7; color: #000000;">
                                {% else %}
                                    <tr style = "background-color: #d5d3d3; color: #000000;"> 
                                {% endif %}
                                    <th><a role="button" class="btn btn-light btn-block" href = "{% url 'complaint_feedback' complaint.id %}">{{complaint.id}}</a></th>
                                    <td>{{complaint.person.user}}</td>
                                    <td>{{complaint.complaint}}</td>
                                    <td>{{complaint.rules_violated}}</td>
                                    <td>{{complaint.status}}</td>
                                    <td>{{complaint.last_update}}</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



