{% extends 'base.html' %}

{% load static %}

{% block add_files %}
<link rel = "stylesheet" href= "{% static 'css/complaints.css' %}">
{% endblock %}

{% block content %}
	<nav class = "navbar navbar-dark navbar-expand-sm">
        <div class = "container">
            <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#Navbar">
                <span class = "navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" href="/home">EMS</a>
            <div class = "collapse navbar-collapse" id = "Navbar">
                <ul class = "navbar-nav ml-auto">
                    <li class="nav-item">
                    	<a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link" href="/permissible_emissions">MPE</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Audit
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" style = "background-color: #31b760;">
                          <li class = "nav-item" ><a class = "nav-link" href="/audit_emissions">Audit Emissions</a></li>
                          <li class = "nav-item"><a class = "nav-link" href="/audit_surveys">Audit Surveys</a></li>
                          <li class = "nav-item" ><a class = "nav-link" href="/audit_complaints">Audit Complaints</a></li>
                        </ul>
                    </li>
		      		<li class="nav-item dropdown">
		        		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">My Profile
					        <span class="caret"></span></a>
				        <ul class="dropdown-menu" style = "background-color: #31b760;">
				          <li class = "nav-item" ><a class = "nav-link" href="/profile">My Profile</a></li>
				          <li class = "nav-item"><a class = "nav-link" href="{% url 'logout' %}">Logout</a></li>
				        </ul>
		      		</li>
                </ul>
            </div>
        </div>
	</nav>
{% endblock %}

{% block content_2 %}
    <div id= "{{complaintModal}}" class ="modal fade" role = "dialog">
        <div class = "modal-dialog modal-lg" role = "content">
            <div class = "modal-content">
                <div class = "modal-header">
                    <h4 class = "modal-title">Status update form</h4>
                    <button type = "button" class = "close" data-dismiss = "modal">
                        &times;
                    </button>
                </div> 
                <div class= "modal-body">
                    <form action="{% url 'audit_complaints' complaints.0.id %}" method="POST" id = "modal_form">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                <label class="sr-only" for="status" title="Change status to resolved or irrelevant">New status</label>
                                <input class="form-control form-control-sm mr-1" id="status" name="status" value="relevant">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="sr-only" for="feedback">Feedback</label>
                                <textarea class="form-control form-control-sm mr-1" id="feedback" name="feedback"></textarea>>
                            </div>
                        </div>
                        <div class="form-row">
                            <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-sm ml-1">Submit</button>        
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class ="container">
        <div class = "row row-content">
            <h1>Complaints</h1>
            <div class = "col-12 col-sm-12">
                <p>about surveys (what is covered in servey and all)</p>
            </div>
        </div>
        <div class ="row row-content">
            <div class = "col-12 col-sm-9">
                <h2>Complaint list</h2>
                <div class = "table-responsive">
                    <table class = "table table-striped">
                        <thead class = "thead-dark">
                            <tr>
                                <th>Complaintant's Email ID</th>
                                <th>Complaint ID</th>
                                <th>Complaint</th>
                                <th>Rules violated</th>
                                <th>Status</th>
                                <th>Last update</th>
                            </tr> 
                        </thead>
                        <tbody>
                        {% for complaint in complaints %}
                                
                                <tr><!-- add a modal for adding feedback and changing status-->
                                    <a id="complaintButton"><th>{{complaint.person.user}}</th></a>
                                    <td id = "cmp_id">{{complaint.id}}</p>
                                    <td>{{complaint.complaint}}</td>
                                    <td>{{complaint.rules_violated}}</td>
                                    <td id = "st">{{complaint.status}}</td>
                                    <td>{{complaint.last_update}}</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 

{% block jscode %}
<script>
    $(document).ready(function(){
        $("#complaintButton").click(function(){
            var cmp_st = $("#st").val();
            var id = $("#cmp_id").val();
            var url = "{% url 'audit_complaints' id %}";
            var n_url = url.replace('id', id);
            $("#modal_form").attr("action", n_url);
            $("#status").attr("value", cmp_st);
            $('#complaintModal').modal('show');
        });
    });

</script>
{% endblock %}
