{% extends 'base.html' %}

{% block content %}
	{% if user.is_authenticated %}
		{% if person.role == "Auditor" %}	
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    			<span class="navbar-toggler-icon"></span>
	    		</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    	<ul class="navbar-nav mr-auto">
			      		<li class="nav-item active">
			        		<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			      		</li>
			      		<li class="nav-item">
			        		<a class="nav-link" href="/permissible_emissions">MPE<span class="sr-only">(current)</span></a>
			      		</li>
			      		<li class="nav-item">
			        		<a class="nav-link" href="#">Articles</a>
			      		</li>
			      	    <li class="nav-item">
			        		<a class="nav-link" href="#">Audit</a>
			      		</li>
			      		<li class="nav-item dropdown">
			        		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">My Profile
						        <span class="caret"></span></a>
					        <ul class="dropdown-menu">
					          <li class = "nav-item"><a class = "nav-link" href="profile.html">My Profile</a></li>
					          <li class = "nav-item"><a class = "nav-link" href="{% url 'logout' %}">Logout</a></li>
					        </ul>
			      		</li>
			    	</ul>
			    	<form class="form-inline my-2 my-lg-0">
			      		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			      		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			    	</form>
			  	</div>
			</nav>
		{% elif person.role == "Supervisor" %}
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    			<span class="navbar-toggler-icon"></span>
	    		</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    	<ul class="navbar-nav mr-auto">
			      		<li class="nav-item active">
			        		<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			      		</li>
			      		<li class="nav-item">
			        		<a class="nav-link" href="/permissible_emissions">MPE<span class="sr-only">(current)</span></a>
			      		</li>
			      		<li class="nav-item">
			        		<a class="nav-link" href="#">Articles</a>
			      		</li>
			      	    <li class="nav-item">
			        		<a class="nav-link" href="#">Emission data</a>
			      		</li>
			      		<li class="nav-item dropdown">
			        		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">My Profile
						        <span class="caret"></span></a>
					        <ul class="dropdown-menu">
					          <li class = "nav-item"><a class = "nav-link" href="profile.html">My Profile</a></li>
					          <li class = "nav-item"><a class = "nav-link" href="{% url 'logout' %}">Logout</a></li>
					        </ul>
			      		</li>
			    	</ul>
			    	<form class="form-inline my-2 my-lg-0">
			      		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			      		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			    	</form>
			  	</div>
			</nav>

		{% elif person.role == "Surveyor" %}
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    			<span class="navbar-toggler-icon"></span>
	    		</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    	<ul class="navbar-nav mr-auto">
			      		<li class="nav-item active">
			        		<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			      		</li>
			      		<li class="nav-item">
			        		<a class="nav-link" href="/permissible_emissions">MPE<span class="sr-only">(current)</span></a>
			      		</li>
			      		<li class="nav-item">
			        		<a class="nav-link" href="#">Articles</a>
			      		</li>
			      	    <li class="nav-item">
			        		<a class="nav-link" href="#">Survey Data</a>
			      		</li>
			      		<li class="nav-item dropdown">
			        		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">My Profile
						        <span class="caret"></span></a>
					        <ul class="dropdown-menu">
					          <li class = "nav-item"><a class = "nav-link" href="profile.html">My Profile</a></li>
					          <li class = "nav-item"><a class = "nav-link" href="{% url 'logout' %}">Logout</a></li>
					        </ul>
			      		</li>
			    	</ul>
			    	<form class="form-inline my-2 my-lg-0">
			      		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			      		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			    	</form>
			  	</div>
			</nav>

		{% else %}
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    			<span class="navbar-toggler-icon"></span>
	    		</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    	<ul class="navbar-nav mr-auto">
			      		<li class="nav-item active">
			        		<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			      		</li>
			      		<li class="nav-item">
			        		<a class="nav-link" href="/permissible_emissions">MPE<span class="sr-only">(current)</span></a>
			      		</li>
			      		<li class="nav-item">
			        		<a class="nav-link" href="#">Articles</a>
			      		</li>
			      	    <li class="nav-item">
			        		<a class="nav-link" href="#">Complaints</a>
			      		</li>
			      		<li class="nav-item dropdown">
			        		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">My Profile
						        <span class="caret"></span></a>
					        <ul class="dropdown-menu">
					          <li class = "nav-item"><a class = "nav-link" href="profile.html">My Profile</a></li>
					          <li class = "nav-item"><a class = "nav-link" href="{% url 'logout' %}">Logout</a></li>
					        </ul>
			      		</li>
			    	</ul>
			    	<form class="form-inline my-2 my-lg-0">
			      		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			      		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			    	</form>
			  	</div>
			</nav>
			<p>{{person.role}}</p>
		{% endif %}				
	{% else %}
		<a href="{% url 'login' %}">Login</a>
	{% endif %}
{% endblock %}

{% block content_2 %}

{% endblock %}


<!--
<ul>
{% for val in ls %}   # this list is a key for a list in the context dictionary passed via view 
	<li>{{key}}, {{value}}</li>
{% endfor %}
</ul>
-->