{% extends 'base.html' %}

{% load static %}

{% block add_files %}
<link rel = "stylesheet" href= "{% static 'css/complaints.css' %}">
{% endblock %}

{% block content %}
	<nav class = "navbar navbar-dark navbar-expand-sm">
        <div class = "container">
            <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#Navbar">
                <span class = "navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" href="/home">EMS</a>
            <div class = "collapse navbar-collapse" id = "Navbar">
                <ul class = "navbar-nav ml-auto">
                    <li class="nav-item">
                    	<a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link" href="/permissible_emissions">MPE</a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link" href="#">Articles</a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link" href="/home">About</a>
                    </li>
	      			<li class="nav-item dropdown active">
		        		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Complaints
					        <span class="caret"></span></a>
				        <ul class="dropdown-menu" style = "background-color: #31b760;">
				          <li class = "nav-item" ><a class = "nav-link" href="/lodge_complaint">Lodge Complaint</a></li>
				          <li class = "nav-item"><a class = "nav-link" href="/track_complaint">Track Complaint</a></li>
				        </ul>
	      			</li>
		      		<li class="nav-item dropdown">
		        		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">My Profile
					        <span class="caret"></span></a>
				        <ul class="dropdown-menu" style = "background-color: #31b760;">
				          <li class = "nav-item" ><a class = "nav-link" href="/profile">My Profile</a></li>
				          <li class = "nav-item"><a class = "nav-link" href="{% url 'logout' %}">Logout</a></li>
				        </ul>
		      		</li>
                </ul>
            </div>
        </div>
	</nav>
{% endblock %}

{% block content_2 %}
<div class = "container">
	<div class="row row-content">
       <div class="col-12">
          <h2>Lodge Complaint</h2>
       </div> 
        <div class="col-12 col-md-9">
            <form action = "{% url 'lodge_complaint' %}" method = "POST">
            	{% csrf_token %}
                <div class = "form-group row">
                    <label for="complaint" class = "col-md-2 col-form-label">Complaint description</label>
                    <div class = "col-md-10">
                        <textarea class = "form-control" id = "complaint" name = "complaint"
                        rows = "12" placeholder= "Complaint description"></textarea>
                    </div>
                </div>
                <div class = "form-group row">
                    <label for="rules_violated" class = "col-md-2 col-form-label">Rules Violated</label>
                    <div class = "col-md-10">
                        <textarea class = "form-control" id = "rules_violated" name = "rules_violated"
                        rows = "12" placeholder= "Rules Violated"></textarea>
                    </div>
                </div>
                <div class = "form-group row">
                    <div class = "col-md-10 offset-md-2">   <!--id should match the for of the label-->
                        <button type = "submit" class = "btn btn-primary">
                            Lodge Complaint
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-md">
        </div>
   </div>
</div>
{% endblock %}
