{% extends 'base.html' %}
{% load static %}

{% block add_files %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
{% endblock %}

{% block content_2 %}
<!--	<div class='loginBlock'>
		<header>
			<h1 class='title'>EMS</h1>
			<blockquote class='tagline'>Environment Management System</blockquote>
		</header>
		 
		<div class='login'>
			<form action="{% url 'login' %}" method='POST'>
				{% csrf_token %}
				<ul>
					<li><label>Email: </label>{{form.username}}</li>   
					<li><label>Password: </label>{{form.password}}</li> 
					<li>
						<a href="{% url 'password_reset' %}" class='forgotPassword'>Forgot Password?</a>
						<input type='submit' value='LogIn' class='submitButton'>
					</li>
				</ul>
			</form>			
		</div>
		<div class='signUp'>
			<p>Dont have an account? <a href="{% url 'register' %}">Sign Up</a></p>
		</div>
	</div>
--> 
<section class="vh-100 bg">
  	<div class="container py-5 h-100">
    	<div class="row d-flex justify-content-center align-items-center h-100">
      		<div class="col col-sm-8">
        		<div class="card" style="border-radius: 1rem;">
          			<div class="row g-0">
            			<div class="offset-3 col-md-6 d-flex align-items-center">
              				<div class="card-body p-4 text-black">
				                <form action = "{% url 'login' %}" method = 'POST'>
				                	{% csrf_token %}
                  					<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
				                    <div class="form-outline mb-4">
                    					<label class="form-label" for = "username">Email address</label>
                    					<input type="email" id="username" name = "username" class = "inp"
                    					placeholder="name@email.com" />
                  					</div>
					                <div class="form-outline mb-4">
                    					<label class="form-label" for = "password">Password</label>
                    					<input type="password" id="password" name = "password" class ="inp"
                    					placeholder="Enter your password" />
                    				</div>
				                    <div class="pt-1 mb-4">
                    					<button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                  					</div>
	                    			<a class="small text-muted" style = "text-decoration: none;" href="{% url 'password_reset' %}">Forgot password?</a>
                  					<p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{% url 'register' %}" style="color: #393f81; text-decoration: none;">Register here</a></p>
                    			</form>
              				</div>
            			</div>
          			</div>
        		</div>
      		</div>
    	</div>
  	</div>
</section>
{% endblock %}