{% extends 'base.html' %}
{% block content_2 %}

	<div class='resetPasswordBlock'>
		<header>
			<h1 class='title'>LearnEd</h1>
			<blockquote class='tagline'>Lets Learn Together</blockquote>
		</header>
		 
		<div class='resetPassword'>
			<h2>Forgotten your Password?</h2>
			<p>Enter your Email address to reset password</p>
			<form action='.' method='POST'>
				{% csrf_token %}
				<ul>
					{{form.as_ul}}
					<li><input type='submit' value='Send Email' class='submitButton'></li>
				</ul>
			</form>
		</div>
	</div>

{% endblock %}