{% extends 'base.html' %}

{% load static %}

{% block add_files %}
<link rel = "stylesheet" href= "{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
	<nav class = "navbar navbar-dark navbar-expand-sm">
        <div class = "container">
            <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#Navbar">
                <span class = "navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" href="/home">EMS</a>
            <div class = "collapse navbar-collapse" id = "Navbar">
                <ul class = "navbar-nav ml-auto">
                    <li class="nav-item">
                    	<a class="nav-link" href="/home">Home</span></a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link" href="/permissible_emissions">MPE</a>
                    </li>
                    {% if person.role == "Auditor" %}
	                    <li class="nav-item dropdown">
	                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Audit
	                            <span class="caret"></span></a>
	                        <ul class="dropdown-menu" style = "background-color: #31b760;">
	                          <li class = "nav-item" ><a class = "nav-link" href="/audit_emissions">Audit Emissions</a></li>
	                          <li class = "nav-item"><a class = "nav-link" href="/audit_surveys">Audit Surveys</a></li>
	                          <li class = "nav-item" ><a class = "nav-link" href="/audit_complaints">Audit Complaints</a></li>
	                        </ul>
	                    </li>
			      	{% elif person.role == "Supervisor" %}
	                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'select_session' %}">Emission Data</a>
                        </li>			
			      	{% elif person.role == "Surveyor" %}
			      		<li class="nav-item">
		        			<a class="nav-link" href="/surveys">Surveys</a>
		      			</li>
		      		{% else %}			      	
                    <li class="nav-item">
                    	<a class="nav-link" href="#">Articles</a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link" href="/home">About</a>
                    </li>
	      			<li class="nav-item dropdown">
		        		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Complaints
					        <span class="caret"></span></a>
				        <ul class="dropdown-menu" style = "background-color: #31b760;">
				          <li class = "nav-item" ><a class = "nav-link" href="/lodge_complaint">Lodge Complaint</a></li>
				          <li class = "nav-item"><a class = "nav-link" href="/track_complaint">Track Complaint</a></li>
				        </ul>
	      			</li>
			      	{% endif %}
		      		<li class="nav-item dropdown">
		        		<a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#">My Profile
					        <span class="caret"></span></a>
				        <ul class="dropdown-menu" style = "background-color: #31b760;">
				          <li class = "nav-item" ><a class = "nav-link" href="/profile">My Profile</a></li>
				          <li class = "nav-item"><a class = "nav-link" href="{% url 'logout' %}">Logout</a></li>
				        </ul>
		      		</li>
                </ul>    
            </div> 
        </div>
	</nav>	
{% endblock %}
 
{% block content_2 %}
    <div class ="container">
        <div class = "row row-content">
            <div class="col-12 col-md-9">
               <h2>Change Password</h2>
            </div> 
            <div class="col-12 col-md-9">
                <form action = "{% url 'password_change' %}" method = "POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="old_password" class = "col-md-2 col-form-label">Old Password</label>
                        <div class = "col-md-8">
                            <input type="password" class = "form-control" id="old_password" name = "old_password"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="new_password1" class = "col-md-2 col-form-label">New Password</label>
                        <div class = "col-md-8">
                            <input type="password" class = "form-control" id="new_password1" name = "new_password1"/>
                        </div>
                    </div>                
                    <div class = "form-group row">
                        <ul>
                            <li>Your password can't be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters</li>
                            <li>Your password can't be entirly numeric</li>
                        </ul>
                    </div>
                    <div class = "form-group row">
                        <label for="new_password2" class = "col-md-2 col-form-label">Confirm new password</label>
                        <div class = "col-md-8">
                            <input type="password" class = "form-control" id="new_password2" name = "new_password2"/>
                        </div>
                    </div>
                    <div class = "form-group row">
                        <div class = "col-md-8 offset-md-2">  
                            <button type = "submit" class = "btn btn-primary">
                                Change Password
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
