{% extends 'base.html' %}

{% load static %}

{% block add_files %}
<link rel = "stylesheet" href= "{% static 'css/complaints.css' %}">
{% endblock %}

{% block content %}
	<nav class = "navbar navbar-dark navbar-expand-sm">
        <div class = "container">
            <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#Navbar">
                <span class = "navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" href="/home">EMS</a>
            <div class = "collapse navbar-collapse" id = "Navbar">
                <ul class = "navbar-nav ml-auto">
                    <li class="nav-item">
                    	<a class="nav-link" href="/home">Home</span></a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link" href="/permissible_emissions">MPE</a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link" href="/home">About</a>
                    </li>
	      			<li class="nav-item dropdown active">
		        		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Complaints
					        <span class="caret"></span></a>
				        <ul class="dropdown-menu" style = "background-color: #31b760;">
				          <li class = "nav-item" ><a class = "nav-link" href="/lodge_complaint">Lodge Complaint</a></li>
				          <li class = "nav-item"><a class = "nav-link" href="/track_complaint">Track Complaint</a></li>
				        </ul>
	      			</li>
		      		<li class="nav-item dropdown">
		        		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">My Profile
					        <span class="caret"></span></a>
				        <ul class="dropdown-menu" style = "background-color: #31b760;">
				          <li class = "nav-item" ><a class = "nav-link" href="/profile">My Profile</a></li>
				          <li class = "nav-item"><a class = "nav-link" href="{% url 'logout' %}">Logout</a></li>
				        </ul>
		      		</li>
                </ul>    
            </div> 
        </div>
	</nav>
{% endblock %}

{% block content_2 %}
<div class = "container" style = "min-height: 100vh;">
	<div class="row row-content">
        <div class="col-12">
          <h2>Your Complaints</h2>
        </div>
        {% if complaints is None %}
        	<div class="col-12 col-md-9">
        		<p>We couldn't find any complaints lodged by you</p>
        	</div>
        {% else %}       
		    <div class="col-12">
	    		<div class = "table-responsive">
                    <table class = "table table-striped">
                       <thead class = "thead-dark">
                           <tr>
                               <th>Complaint Id</th>
                               <th>Complaint Description</th>
                               <th>Rules Violated</th>
                               <th>Status</th>
                               <th>Last updated</th>
                           </tr>
                       </thead>
                       <tbody>
							{% for complaint in complaints %}                           
    							{% if complaint.status == "Resolved" %}
                                    <tr style="background-color:#bff5af; color: #000000;">
                                {% elif complaint.status == "Relevant" %}
                                    <tr style = "background-color:#fbbaa7; color: #000000;">
                                {% else %}
                                    <tr style = "background-color: #d5d3d3; color: #000000;"> 
                                {% endif %}
                                       <td>{{complaint.id}}</td>
                                       <td>{{complaint.complaint}}</td>
                                       <td>{{complaint.rules_violated}}</td>
                                       <td>{{complaint.status}}</td>
                                       <td>{{complaint.last_update}}</td>
                                   </tr>
						{% endfor %}
                       </tbody>
                    </table>
                </div>
	        </div>
	    {% endif %}
        <div class="col-12 col-md">
        </div>
   </div>
</div>

{% endblock %}